<footer class="bg-primary-400 clr-neutral-100 | primary-footer">
  <div class="container">
    <div class="flex-group between py-end-24 by-end-1-100">
      <div>
        <nav class="footer-navigation">
          <ul class="flex-group list-style-none">
            <li><a class="fs-400" href="index">首頁</a></li>
            <li><a class="fs-400" href="series">系列鏡框</a></li>
            <li><a class="fs-400" href="stores">門市據點</a></li>
            <li><a class="fs-400" href="blog">部落格</a></li>
            <li><a class="fs-400" href="f&q">常見問題</a></li>
          </ul>
        </nav>
        <p class="flex-group my-end-8 | primary-footer__phone">
          <img src="../assets/svgs/call.svg" alt="" /><span>0800-000-000</span>
        </p>
        <p class="flex-group | primary-footer__mail">
          <img src="../assets/svgs/mail.svg" alt="" />
          <span>glasses@business.com</span>
        </p>
      </div>
      <div class="flex-group | primary-footer__social-medias">
        <a href="#">
          <picture>
            <source
              srcset="../assets/images/ic_social-fb.avif"
              type="image/avif"
            />
            <source
              srcset="../assets/images/ic_social-fb.webp"
              type="image/webp"
            />
            <img src="../assets/images/ic_social-fb.png" alt="Facebook link" />
          </picture>
        </a>
        <a href="#">
          <picture>
            <source
              srcset="../assets/images/ic_social-ig.avif"
              type="image/avif"
            />
            <source
              srcset="../assets/images/ic_social-ig.webp"
              type="image/webp"
            />
            <img src="../assets/images/ic_social-ig.png" alt="Instagram link" />
          </picture>
        </a>
        <a href="#">
          <picture>
            <source
              srcset="../assets/images/ic_social-line.avif"
              type="image/avif"
            />
            <source
              srcset="../assets/images/ic_social-line.webp"
              type="image/webp"
            />
            <img src="../assets/images/ic_social-line.png" alt="Line link" />
          </picture>
        </a>
      </div>
    </div>
    <div class="flex-group between | primary-footer__copyright">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="flex-group">
        <p><a href="#">隱私權政策</a></p>
        <p><a href="#">服務條款</a></p>
      </div>
    </div>
  </div>
</footer>
