<div class="bg-primary-400">
  <header class="primary-header">
    <picture>
      <source srcset="../assets/images/logo-white.avif" type="image/avif" />
      <source srcset="../assets/images/logo-white.webp" type="image/webp" />
      <img src="../assets/images/logo-white.png" alt="眼鏡店" />
    </picture>
    <nav class="primary-navigation">
      <ul class="flex-group list-style-none">
        <li><a href="series">系列鏡框</a></li>
        <li><a href="stores">門市據點</a></li>
        <li><a href="blog">部落格</a></li>
        <li><a href="f&q">常見問題</a></li>
      </ul>
    </nav>
  </header>
</div>
