<nav class="secondary-navigation">
  <ul class="even-columns bx-1-350" style="--grid-gap: 0">
    <li class="button tx-center active" data-type="navigation">
      <a
        class="clr-neutral-900 fs-400 fs-sm-600 fs-md-650"
        href="./optical.html"
        >OPTICAL</a
      >
    </li>
    <li class="button bx-start-1-350 tx-center" data-type="navigation">
      <a
        class="clr-neutral-900 fs-400 fs-sm-600 fs-md-650"
        href="./sunglasses.html"
        >SUNGLASSES</a
      >
    </li>
    <li class="button bx-start-1-350 tx-center" data-type="navigation">
      <a
        class="clr-neutral-900 fs-400 fs-sm-600 fs-md-650"
        href="./functional.html"
        >FUNCTIONAL</a
      >
    </li>
  </ul>
</nav>
