@use "../abstract/" as *;

.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  font-weight: $fw-medium;
  padding: 0.3em 0.6em;

  &[data-type="accent"] {
    background-color: clr(primary, "400");
    color: clr(neutral, "100");
  }

  &[data-type="primary"] {
    background-color: clr(neutral, "900");
    color: clr(neutral, "100");
  }

  &[data-type="navigation"] {
    font-family: $ff-accent;
    border-block-end: 1px solid clr("neutral", "350");

    &.active {
      border-block-end: sz(8) solid clr("primary", "400");
    }
  }

  &[data-type="form"] {
    display: block;
    color: clr(neutral, "100");
    width: 100%;
    padding-block: 1em;
    margin-block-start: sz(24);

    @include mq(sm) {
      max-width: 21rem;
      margin-inline: auto;
      margin-block-start: sz(48);
    }
  }

  &[data-type="paginator"] {
    background-color: clr("neutral", "100");
    color: clr("neutral", "600");

    &.active {
      background-color: clr("neutral", "900");
      color: clr("neutral", "100");
    }

    @media (hover: hover) {
      &:hover {
        background-color: clr("neutral", "200");
        color: clr("neutral", "600");
      }
    }
  }
}
