@use "../abstract/" as *;

.primary-navigation {
  --column-gap: #{$navigation-gap};

  @media (width <= 25em) {
    --column-gap: 0;
    --row-gap: 0;

    & li {
      --width: 50%;

      border: 1px solid clr(neutral, "100");
      padding-block: sz(12);
      text-align: center;
    }
  }
}

.footer-navigation {
  display: none;

  @include mq(sm) {
    --column-gap: #{sz(48)};

    display: block;
    margin-block-end: #{sz(32)};
    padding-block: #{sz(8)};
  }

  @include mq(md) {
    margin-block-end: #{sz(36)};
    padding-block: #{sz(12)};
  }
}
