<div class="paginator my-64 my-sm-80">
  <ul class="flex-group">
    <li>
      <button type="button" class="button px-12" data-type="paginator">
        上一頁
      </button>
    </li>
    <li>
      <a href="./series.html" class="button px-16" data-type="paginator">1</a>
    </li>
    <li>
      <a
        href="./series/2.html"
        class="button active px-16"
        data-type="paginator"
        >2</a
      >
    </li>
    <li><a href="#" class="button px-16" data-type="paginator">3</a></li>
    <li><a href="#" class="button px-16" data-type="paginator">4</a></li>
    <li><a href="#" class="button px-16" data-type="paginator">5</a></li>
    <li>
      <button type="button" class="button px-12" data-type="paginator">
        下一頁
      </button>
    </li>
  </ul>
</div>
