$colors: (
  neutral: (
    "100": #ffffff,
    "150": #faf0f0,
    "200": #f2f2f2,
    "250": #fbf2f2,
    "300": #dee3e8,
    "350": #dbdbdb,
    "400": #cfd4d9,
    "425": #c7c2c2,
    "450": #707070,
    "500": #4a5057,
    "600": #555555,
    "700": #212529,
    "800": #0a0a0a,
    "900": #000000
  ),
  primary: (
    "300": #b85829,
    "400": #aa0601,
    "500": #a11212,
    "600": #650300,
    "700": #5e3c2b
  )
);
