$ff-sans: "Noto Sans TC", sans-serif;
$ff-serif: "Roboto", sans-serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  "900": 4rem,
  "800": 3rem,
  "750": 2.625rem,
  "700": 2.25rem,
  "650": 2rem,
  "600": 1.5rem,
  "550": 1.25rem,
  "500": 1.1875rem,
  "450": 1.125rem,
  "400": 1rem,
  "300": 0.875rem
);

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
