<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>glasses store</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="tx-right clr-primary-600 | home__hero">
        <div class="container">
          <p class="heading-3">Promise-Desert 2020 早春系列</p>
          <h1 class="heading-1 fw-bold">看得清，才能看得遠</h1>
          <a href="series.html" class="button my-start-8 fs-550" data-type="accent"
            >立即購買</a
          >
        </div>
      </div>
      <section class="section bg-neutral-250">
        <div class="container">
          <h2 class="clr-primary-600 tx-center my-end-24 heading-2 fw-bold">
            用專業的心，做專業的事
          </h2>
          <ul
            class="auto-grid"
            style="--grid-gap: 1.5rem; --children-width: 19.125rem"
          >
            <li>
              <picture>
                <source
                  srcset="../assets/images/home-section2-1.avif"
                  type="image/avif"
                />
                <source
                  srcset="../assets/images/home-section2-1.webp"
                  type="image/webp"
                />
                <img
                  class="mx-auto my-end-16 | home__imgIcon"
                  src="../assets/images/home-section2-1.png"
                  alt=""
                />
              </picture>
              <h3 class="fs-600 clr-primary-600 tx-center my-end-8 fw-bold">
                單一價格
              </h3>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li>
              <picture>
                <source
                  srcset="../assets/images/home-section2-2.avif"
                  type="image/avif"
                />
                <source
                  srcset="../assets/images/home-section2-2.webp"
                  type="image/webp"
                />
                <img
                  class="mx-auto my-end-16 | home__imgIcon"
                  src="../assets/images/home-section2-2.png"
                  alt=""
                />
              </picture>
              <h3 class="fs-600 clr-primary-600 tx-center my-end-8 fw-bold">
                20 分鐘即可取件
              </h3>
              <p>
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                20 分鐘即可完成。
              </p>
            </li>
            <li>
              <picture>
                <source
                  srcset="../assets/images/home-section2-3.avif"
                  type="image/avif"
                />
                <source
                  srcset="../assets/images/home-section2-3.webp"
                  type="image/webp"
                />
                <img
                  class="mx-auto my-end-16 | home__imgIcon"
                  src="../assets/images/home-section2-3.png"
                  alt=""
                />
              </picture>
              <h3 class="fs-600 clr-primary-600 tx-center my-end-8 fw-bold">
                安心售後服務
              </h3>
              <p>
                我們提供長達 120
                天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </li>
            <li>
              <picture>
                <source
                  srcset="../assets/images/home-section2-4.avif"
                  type="image/avif"
                />
                <source
                  srcset="../assets/images/home-section2-4.webp"
                  type="image/webp"
                />
                <img
                  class="mx-auto my-end-16 | home__imgIcon"
                  src="../assets/images/home-section2-4.png"
                  alt=""
                />
              </picture>
              <h3 class="fs-600 clr-primary-600 tx-center my-end-8 fw-bold">
                關於鏡片
              </h3>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h2
            class="heading-2 clr-primary-600 tx-center fw-bold my-end-24 my-end-sm-48"
          >
            經典系列鏡框
          </h2>
          <ul class="home__list" data-type="series">
            <li>
              <picture>
                <source
                  srcset="../assets/images/home-section3-1.avif"
                  type="image/avif"
                />
                <source
                  srcset="../assets/images/home-section3-1.webp"
                  type="image/webp"
                />
                <img
                  class="my-end-8"
                  src="../assets/images/home-section3-1.png"
                  alt=""
                />
              </picture>
              <h3 class="tx-center">
                <a href="opitcal.html" class="home__title">OPTICAL</a>
              </h3>
            </li>
            <li>
              <picture>
                <source
                  srcset="../assets/images/home-section3-2.avif"
                  type="image/avif"
                />
                <source
                  srcset="../assets/images/home-section3-2.webp"
                  type="image/webp"
                />
                <img
                  class="my-end-8"
                  src="../assets/images/home-section3-2.png"
                  alt=""
                />
              </picture>
              <h3 class="tx-center">
                <a href="sunglasses.html" class="home__title">SUNGLASSES</a>
              </h3>
            </li>
            <li>
              <picture>
                <source
                  srcset="../assets/images/home-section3-3.avif"
                  type="image/avif"
                />
                <source
                  srcset="../assets/images/home-section3-3.webp"
                  type="image/webp"
                />
                <img
                  class="my-end-8"
                  src="../assets/images/home-section3-3.png"
                  alt=""
                />
              </picture>
              <h3 class="tx-center">
                <a href="functional.html" class="home__title">FUNCTIONAL</a>
              </h3>
            </li>
          </ul>
        </div>
      </section>
      <section class="section | home__banner">
        <div class="container">
          <h2
            class="clr-neutral-100 fw-bold tx-center my-end-24 my-end-sm-48 heading-2"
          >
            聯名設計鏡框
          </h2>
          <ul class="flow">
            <li>
              <div>
                <div class="home__banner--img" data-type="double"></div>
                <h3 class="bg-neutral-100 py-8 fs-800 | home__title">
                  DOUBLE A+
                </h3>
              </div>
            </li>
            <li>
              <div>
                <div class="home__banner--img" data-type="youth"></div>
                <h3 class="bg-neutral-100 py-8 fs-800 | home__title">YOUTH</h3>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h2
            class="clr-primary-600 fw-bold heading-2 my-end-24 my-end-sm-48 tx-center"
          >
            顧客推薦
          </h2>
          <ul class="auto-grid | home__list" data-type="recommend">
            <li>
              <div class="card">
                <picture>
                  <source
                    srcset="../assets/images/home-section5-1.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="../assets/images/home-section5-1.webp"
                    type="image/webp"
                  />
                  <img
                    class="card__img"
                    src="../assets/images/home-section5-1.png"
                    alt=""
                  />
                </picture>
                <div class="p-16 flex-group vertical">
                  <p class="my-end-8">Jessy</p>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                  <p class="fs-300 my-start-auto clr-neutral-450">2021/06/20</p>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <picture>
                  <source
                    srcset="../assets/images/home-section5-2.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="../assets/images/home-section5-2.webp"
                    type="image/webp"
                  />
                  <img
                    class="card__img"
                    src="../assets/images/home-section5-2.png"
                    alt=""
                  />
                </picture>
                <div class="p-16 flex-group vertical">
                  <p class="my-end-8">凱倫</p>
                  <p>
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                  <p class="fs-300 my-start-auto clr-neutral-450">2021/04/18</p>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <picture>
                  <source
                    srcset="../assets/images/home-section5-3.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="../assets/images/home-section5-3.webp"
                    type="image/webp"
                  />
                  <img
                    class="card__img"
                    src="../assets/images/home-section5-3.png"
                    alt=""
                  />
                </picture>
                <div class="p-16 flex-group vertical">
                  <p class="my-end-8">悠悠</p>
                  <p>
                    謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                  </p>
                  <p class="fs-300 my-start-auto clr-neutral-450">2020/12/25</p>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <picture>
                  <source
                    srcset="../assets/images/home-section5-4.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="../assets/images/home-section5-4.webp"
                    type="image/webp"
                  />
                  <img
                    class="card__img"
                    src="../assets/images/home-section5-4.png"
                    alt=""
                  />
                </picture>
                <div class="p-16 flex-group vertical">
                  <p>Kyuan</p>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  <p class="fs-300 my-start-auto clr-neutral-450">2020/10/31</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="section bg-neutral-250">
        <div class="container" data-type="narrow">
          <h2
            class="heading-2 clr-primary-600 fw-bold tx-center my-end-24 my-end-md-48"
          >
            聯絡我們
          </h2>
          <p class="my-end-24">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </p>
          <form class="flow">
            <div class="flex-group vertical | home__input-group">
              <label for="name">姓名</label
              ><input
                type="text"
                id="name"
                name="name"
                placeholder="陳小明"
                class="px-12 py-6"
              />
            </div>
            <div class="flex-group vertical | home__input-group">
              <label for="phone">聯絡電話</label
              ><input
                type="text"
                id="phone"
                name="phone"
                placeholder="0912-345-678"
                class="px-12 py-6"
              />
            </div>
            <div class="flex-group vertical | home__input-group">
              <label for="email">電子郵件</label
              ><input
                type="email"
                id="email"
                name="email"
                placeholder="example@email.com"
                class="px-12 py-6"
              />
            </div>
            <div class="flex-group vertical | home__input-group">
              <label for="comment">意見反應</label
              ><textarea
                name="comment"
                id="comment"
                cols="30"
                rows="5"
                placeholder="請輸入您的意見"
                class="px-12 py-6"
              ></textarea>
            </div>
            <div
              class="flex-group no-wrap v-start"
              style="--column-gap: 0.5rem"
            >
              <input type="checkbox" id="agree" class="hidden" />
              <span class="home__checkbox"></span>
              <label for="agree"
                >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
              >
            </div>
            <button
              type="submit"
              class="button bg-primary-400"
              data-type="form"
            >
              確認送出
            </button>
          </form>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
