@use "../abstract/" as *;

.flex-group {
  display: flex;
  flex-wrap: wrap;

  column-gap: var(--column-gap, var(--flex-gap, var(--default-gap, 1rem)));
  row-gap: var(--row-gap, var(--flex-gap, var(--default-gap, 1rem)));

  &.between {
    justify-content: space-between;
  }

  &.v-center {
    align-items: center;
  }

  &.v-start {
    align-items: start;
  }

  &.mx-auto {
    justify-content: center;
  }

  & > * {
    flex-basis: var(--width, auto);
  }

  &.vertical {
    flex-direction: column;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }
}
